html{
    background-image: url(bg.jpg);
    background-size: cover;
}
body {
    font-family: Arial, sans-serif;
    color: rgb(221, 237, 252);
    
}
header{
    display: flex;
    justify-content: center;
}
img{
    width: auto;
    height: 20vh;
}
.img2{
    padding-left: 5vw;
}
.container {
    max-width: 600px;
    margin: 2vh auto;
    padding-right: 50px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background : transparent;


}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input,
select {
    background-color: azure;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 3px;
}
form{
    align-items: center;
}

button {
    width: auto;
    height: auto !important;
    align-items: center;
    height: min-content;
    background-color: #327b3b;
    color: rgb(192, 223, 192);
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#download-link a {
    color: #007bff;
    text-decoration: none;
    display: none;
}

